.app {
  background-color: aqua;
  height: 90.8vh;
  padding: 30px;
}

.app-header {
  text-align: center;
}

.todo { 
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.todo-list {
  margin: 0 auto;
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 900px;
  padding: 5px;
}

input[type=checkbox] {
  transform: scale(1.2);
}